[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
[submodule "themes/hugo-bearhouse"]
	path = themes/hugo-bearhouse
	url = git@github.com:akku1139/hugo-bearhouse.git
